### Exploring the MetaData
**Exploring the all_ids folder to understand the players and matches**

In [4]:
# necessary imports
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns',None)

In [5]:
# import the dataset
player_ids = pd.read_csv('../data/raw/all_ids/all_players_ids.csv')

In [6]:
player_ids

        Player  Player ID
0         MaKo     4462.0
1         stax      485.0
2           Rb      488.0
3         k1Ng      771.0
4         BuZz      804.0
...        ...        ...
15515  N4RRATE    36245.0
15516  tomaszy    19691.0
15517   Levius    40845.0
15518    QiuYe    19531.0
15519  Dingwei    42513.0

[15520 rows x 2 columns]